:root {
    --div-background-color: #E0321F;
    --secondary-color: #1F74E0;
    --tertiary-color: #C4EB00;
    --quaternary-color: #7E8B42;
    --quinary-color: #61413E;
    --background-color: #3E4D61;
    --text-color: #EEE;
    --black-color: #333;
  
    --background-gradient: linear-gradient(135deg, var(--div-background-color), var(--quinary-color), #0000 40%);
    --text-gradient: linear-gradient(45deg, var(--tertiary-color), var(--text-color));
  
    --background2-gradient: linear-gradient(-45deg, var(--text-color), var(--secondary-color));

    --money-gradient: linear-gradient(125deg,var(--text-color),var(--div-background-color)95%);

}

h3 {
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
}

.balance-amount {
    background: var(--money-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    align-self: center;
}

.account-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-radius: 0%;
    font-size: 1.5rem;
    text-align: left;
}


.account-actions{
    
}
.action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    aspect-ratio: 1 / 1;
}

@media (max-width: 370px) {
    .action-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        aspect-ratio: 21 / 9;
    }
    .account-header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .transaction-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    div {
        padding: 0%;
    }
}

button {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logout-button {
    background: var(--background-color);
    color: var(--text-color);
    font-weight: bold;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
}

.transaction-list, .transaction-item, .transaction-date, .amount-negative, .amount-positive, .transaction-name{
    padding: 0%;
    margin: 0%;
}


